#footer{background:#fff;position:relative}
            .footerLogo { font-size: 1.8em; font-weight: 600; color: #333; margin-bottom: 22px; display: block; }
            #footer::before{content:"";background:linear-gradient(to right,#fff 0,#535df1 50%,#fff 100%);height:5px;width:100%;position:absolute}
            .footer-wrapper{padding:50px 0;float:left;width:100%}
            img.footer-logo{margin-bottom:20px}
            ul.social-icons{margin:0; padding: 0;}
            ul.social-icons li{background:#fff;width:30px;height:30px;border:1px solid #f1f2f2;border-radius:4px;margin:3px;text-align:center; display: inline-block;}
            ul.social-icons li a{color:#6d6e71;font-size:15px;line-height:30px}
            ul.social-icons li a:hover{color:#27aae1;transition:all 1s}
            ul.footer-links { padding: 0;  list-style-type: none; position: relative;}
            ul.footer-links li{line-height:25px; padding-left: 15px; }
            /* ul.footer-links li:before { position: absolute; content: 'f105'; font-family: FontAwesome; left: 0;} */
            ul.footer-links li a{color:#6d6e71}
            ul.footer-links li a:hover{color:#27aae1; text-decoration: none;}
            ul.contact{margin:0;padding:0}
            ul.contact li{list-style:none;padding:15px 0;border-bottom:1px solid #f1f2f2;font-size:13px;font-weight:600;line-height:15px;}
            ul.contact li i{font-size:18px;margin-right:20px;color:#27aae1} 
            .copyright{background:#231f20;text-align:center;color:#fff;padding:12px 0 4px}